<a href="https://colab.research.google.com/github/pitchikakumaraveeravenkataganesh/python-3-batch-7-day-3-assignment-no-2/blob/master/python_3_batch_7_day_3_assignment_no_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#print all the prime numbers between 1 to 200
primes = []
for i in range (2,201):
  if all (i%p for p in primes):
    print (i)
    primes.append(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199